<h2>Acerca de Comic App</h2>
<hr>
<div class="container">
    <p>
        Comic app fue creada para reforzar el conociminto basico de Angular y Angular CLI, es una aplicacion
        basica, donde se hace uso de la creacion de componentes, servicios y rutas, mostrando informacion
        de los personajes de Marvel y Dc.
    </p>

    <p>Las imagenes e informacion son utilizadas para uso educativo, todos los derechos reservados a sus
        verdaderos autores.
    </p>

    <ul>
        <li><a href="https://www.dereklaufman.com/">Imagenes utilizadas</a></li>
        <li><a href="https://getbootstrap.com/">Bootstrap</a> </li>
    </ul>
</div>