<div>
    <div class="contenedor">
        <div class="contenido-login" *ngIf="!isSuccessful">
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <h2>Registro</h2>
                <div>
                    <!-------------------------Email------------------------->
                    <div class="input-div nit">
                        <div class="i">
                            <i class="fas fa-at"></i>
                        </div>
                        <div class="div">
                            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" class="input" placeholder="Email" disabled />
                        </div>
                    </div>
                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                        <div *ngIf="email.errors.required">Email es requerida</div>
                        <div *ngIf="email.errors.email">
                            El correo electrónico debe ser una dirección de correo válida
                        </div>
                    </div>
                    <!---------------------------nombre---------------------->
                    <div>
                        <div class="input-div nit">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <input type="text" class="form-control" name="nombre" [(ngModel)]="form.nombre" required #nombre="ngModel" class="input" placeholder="Nombre" />
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && nombre.invalid">
                            Nombre is required!
                        </div>
                    </div>
                    <!-------------------------matricula---------------------->
                    <div>
                        <div class="input-div nit">
                            <div class="i">
                                <i class="fas fa-id-card"></i>
                            </div>
                            <div class="div">
                                <input type="text" class="form-control" name="matricula" [(ngModel)]="form.matricula" required #matricula="ngModel" class="input" placeholder="Matricula" />
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && matricula.invalid">
                            Matricula is required!
                        </div>
                    </div>
                    <!-------------------------plantel---------------------->
                    <div>
                        <div class="input-div nit">
                            <div class="i">
                                <i class="fas fa-university"></i>
                            </div>
                            <div class="div">
                                <input type="text" class="form-control" name="plantel" [(ngModel)]="form.plantel" required #plantel="ngModel" class="input" placeholder="Plantel" />
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && plantel.invalid">
                            Plantel is required!
                        </div>
                    </div>

                    <!-------------------------turno---------------------->
                    <div>
                        <div class="input-div nit">
                            <div class="i">
                                <i class="fab fa-tumblr"></i>
                            </div>
                            <div class="div">
                                <input type="text" class="form-control" name="turno" [(ngModel)]="form.turno" required #turno="ngModel" class="input" placeholder="Turno" />
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && turno.invalid">
                            Turno is required!
                        </div>
                    </div>

                    <!-------------------------carrera---------------------->
                    <div>
                        <div class="input-div nit">
                            <div class="i">
                                <i class="fas fa-layer-group"></i>
                            </div>
                            <div class="div">
                                <input type="text" class="form-control" name="carrera" [(ngModel)]="form.carrera" required #carrera="ngModel" class="input" placeholder="Carrera" />
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && carrera.invalid">
                            Carrera is required!
                        </div>
                    </div>

                    <!-------------------------foto---------------------->

                    <input id="informacion" type="urlFoto" class="form-control" name="urlFoto" [(ngModel)]="form.urlFoto" #urlFoto="ngModel" />


                </div>
                <button class="btn btn-primary btn-block">Enviar Registro</button>

                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
    </div>
</div>