<div class="container">
    <div class="2col">
        <div class="c2" (click)="agregarTipo('INCIDENCIA_ROBO')" >INCIDENCIA ROBO</div>
        <div class="c3" (click)="agregarTipo('INCIDENCIA_AGRESION_LESION')">INCIDENCIA AGRESION</div>
    </div>
    <div class="2col">
        <div class="c2" (click)="agregarTipo('INCIDENCIA_ATAQUE_DE_PERROS')">INCIDENCIA ATAQUE</div>
        <div class="c3" (click)="agregarTipo('INCIDENCIA_ACOSO')">INCIDENCIA ACOSO</div>
    </div>
    <div class="2col">
        <div class="c2" (click)="agregarTipo('INCIDENCIA_ALCOHOL_DROGAS')">INCIDENCIA DROGAS</div>
        <div class="c3" (click)="agregarTipo('INCIDENCIA_OTROS')">OTROS</div>
    </div>
</div>