<!-- Display Posts-->
<div class="row post" *ngFor="let incidencia of incidencias">
    <!-- Section to Display Post Information-->
    <div class="col-md-11">
        <span class="subreddit-info">
            <span class="subreddit-text"><a class="posturl">{{incidencia.tipoIncidencia}}</a></span>
            <span> . incidencia by <a class="username">{{incidencia.username}}</a></span>
            <span> . {{incidencia.dateCreacion}}</span>
        </span>
        <hr />
        <div class="post-title">
            <a class="postname">{{incidencia.titulo}}</a>
        </div>
        <hr />
        <span>
            <a class="btnCommments" role="button">
                <fa-icon [icon]="faComments"></fa-icon>
            </a>
            <button class="login" (click)="goToIncidencia(incidencia)">
                Ver incidencia
            </button>
        </span>
    </div>
</div>