<br />
<br />
<br />

<div class="container" *ngIf="token; else loggedOut">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="">
        <br />
        <a href="profile" (click)="expediente()" class="btn-flotante"
          >EXPEDIENTES</a
        >
      </div>
      <div class="row post">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="heading text-center mx-auto">
            <h3 class="head">Expediente incidencia.</h3>
            <p class="my-3 head">folio: {{ expedientes.folio }}</p>
          </div>
          <div class="heading text-center mx-auto">
            <section class="section mt-5">
              <div class="container">
                <hr />
                <div class="row" *ngFor="let incidencia of incidencias">
                  <div class="col-md-6">
                    <div>
                      <img
                        alt="Web Studio"
                        class="img-fluid"
                        src="assets/img/{{
                          incidencia.tipoIncidencia.name
                        }}.svg"
                      />
                    </div>
                  </div>
                  <div
                    class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0"
                  >
                    <div class="col-sm-9 mt-sm-0 mt-4">
                      <div class="features15-para">
                        <h4>{{ incidencia.titulo }}</h4>
                        <span class="subreddit-text"
                          ><a class="posturl">{{
                            incidencia.tipoIncidencia.name
                          }}</a></span
                        >
                        <p>{{ incidencia.dateCreacion }}.</p>
                      </div>
                      <a class="btnCommments" role="button">
                        <fa-icon [icon]="faComments"></fa-icon>
                      </a>
                      <button
                        class="login"
                        (click)="goToIncidencia(incidencia)"
                      >
                        Ver incidencia
                      </button>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
              <hr />
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-evidencia></app-evidencia>
      <app-seguimiento></app-seguimiento>
    </div>
  </div>
</div>

<ng-template #loggedOut> <h3 class="head">Please login.</h3></ng-template>
