<div class="sidebar-view-subreddit">
    <img src="assets/img/seguimiento.svg">
    <div style="color: rgb(75, 75, 75); text-align: center; font-size: 1em; font-weight: bold">
        Seguimiento.
    </div>
    <hr />

    <!--<span *ngFor="let subreddit of subreddits">
        <span class="subreddit-text"><a href="/view-tema/{{subreddit.id}}">{{subreddit.name}}</a></span>
    <hr />
    </span>
    <div style="text-align: center" *ngIf="displayViewAll">
        <a style="font-weight: bold" routerLink="/list-tema">View All</a>
    </div>
    -->
</div>