<div>
    <h1 id="titulo">Etapas de una Inencia</h1>
    <hr>
    <div class="card-columns">
        <div class="card animated fadeIn ">
            <img src="../../../assets/img/etapa1.JPG" class="card-img-top img-fluid" alt="aquaman">
            <div class="card-body">

            </div>
        </div>
        <h5 class="card-title">Comunicacion y difucion</h5>
        <p class="card-text">Da de alta tu incidencias con la informacion detallada del suceso</p>

        <div class="card animated fadeIn ">
            <img src="../../../assets/img/etapa2.JPG" class="card-img-top img-fluid" alt="aquaman">
            <div class="card-body">

            </div>
        </div>
        <h5 class="card-title">Atencion</h5>
        <p class="card-text">Da de alta tu incidencias con la informacion detallada del suceso</p>

        <div class="card animated fadeIn ">
            <img src="../../../assets/img/etapa3.JPG" class="card-img-top img-fluid" alt="aquaman">
            <div class="card-body">

            </div>
        </div>
        <h5 class="card-title">Conclucion</h5>
        <p class="card-text">Da de alta tu incidencias con la informacion detallada del suceso</p>
    </div>
</div>

<br>
<br>
<br>
<br>

<div>
    <h1 id="titulo">Tipos de datos que reforzán tu incidencias</h1>
    <hr>
    <div class="card-columns">
        <div class="card animated fadeIn ">
            <img src="../../../assets/img/etapa1.JPG" class="card-img-top img-fluid" alt="aquaman">
            <div class="card-body">

            </div>
        </div>
        <h5 class="card-title">Comunicacion y difucion</h5>
        <p class="card-text">Da de alta tu incidencias con la informacion detallada del suceso</p>

        <div class="card animated fadeIn ">
            <img src="../../../assets/img/etapa2.JPG" class="card-img-top img-fluid" alt="aquaman">
            <div class="card-body">

            </div>
        </div>
        <h5 class="card-title">Comunicacion y difucion</h5>
        <p class="card-text">Da de alta tu incidencias con la informacion detallada del suceso</p>

        <div class="card animated fadeIn ">
            <img src="../../../assets/img/etapa3.JPG" class="card-img-top img-fluid" alt="aquaman">
            <div class="card-body">

            </div>
        </div>
        <h5 class="card-title">Comunicacion y difucion</h5>
        <p class="card-text">Da de alta tu incidencias con la informacion detallada del suceso</p>

    </div>
</div>