<div>
  <br />
  Has agregado <b>{{ expedientes.length }}</b> incidencia (s) y Puedes consultar
  tu historial de incidencias.
</div>
<hr />
<div>
  <h3 class="title-5 m-b-35">Tus expedientes de incidencias:</h3>
</div>
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table">
        <div class="row header">
          <div class="cell">NOMBRE INCIDENCIA</div>
          <div class="cell">FOLIO</div>
          <div class="cell">ADMIN</div>
          <div class="cell">FECHA</div>
          <div class="cell">ESTATUS</div>
        </div>

        <div
          class="row"
          *ngFor="let expediente of expedientes"
          (click)="goToIncidencia(expediente)"
          (contextmenu)="open($event, expediente); $event.preventDefault()"
        >
          <div class="cell" data-title="nombre">
            {{ expediente.nomIncidencia }}
          </div>
          <div class="cell" data-title="folio">
            {{ expediente.folio }}
          </div>
          <div class="cell" data-title="admin">
            {{ expediente.administrador }}
          </div>
          <div class="cell" data-title="fecha">
            {{ expediente.dateCreacion }}
          </div>
          <div class="cell" data-title="status">
            <span class="status--{{ expediente.status }}">{{
              expediente.status
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #userMenu let-expedientes>
  <section class="user-menu">
    <div (click)="goToIncidencia(expedientes)">ver incidencia</div>
  </section>
</ng-template>
