<div>
    <div class="contenedor">
        <div class="img" *ngIf="!isSuccessful">
            <p>Cuestión relacionada con el principal asunto del juicio, que se ventila y decide por separado, sin suspender o suspendiendo el curso de aquel; en este último caso se denomina de previo y especial pronunciamiento.</p>
        </div>
        <div class="contenido-login" *ngIf="!isSuccessful">
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <img src="../../../../../assets/img/logoNew.png" alt="ResetPass">
                <h2>Registrate</h2>
                <div>
                    <div class="input-div nit">
                        <div class="i">
                            <i class="fas fa-at"></i>
                        </div>
                        <div class="div">
                            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" class="input" placeholder="Email" />
                        </div>
                    </div>
                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                        <div *ngIf="email.errors.required">Email es requerida</div>
                        <div *ngIf="email.errors.email">
                            El correo electrónico debe ser una dirección de correo válida
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block">Enviar Registro</button>

                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
    </div>
</div>