.btnRegistar{

    border-radius: 10px;
    outline: none;
    border: none;
    /*background-image: linear-gradient(to right, #680197, #00ffbf,#c046f8);*/
    background-color: rgb(161, 32, 32);

    color: #fff;
}

.btnLogin{

    border-radius: 10px;
    outline: none;
    border: 2px;
    color: #fff;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    border-radius: 10px;
    outline: none;
    border: none;
    /*background-image: linear-gradient(to right, #680197, #00ffbf,#c046f8);*/
    background-color: rgb(161, 32, 32);
    color:#fff;
    text-decoration:none;
    padding:7px 7px;
    display:block;
    text-transform:uppercase;
}

.nav li a:hover {
    border-radius: 0px;
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
