<div class="w3l-bootstrap-header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light p-2">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']">INCIDENCIAS</a>

      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['incidencias']">Incidencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['estadisticas']">Estadística</a>
          </li>
        </ul>
        <div class="form-inline" *ngIf="!isLoggedIn">
          <a [routerLink]="['login']" class="login mr-4 btnLogin">Login</a>
          <a
            [routerLink]="['registro']"
            class="btn btn-primary btn-theme btnRegistar"
            >Crear Cuenta</a
          >
        </div>
        <div class="form-inline" *ngIf="isLoggedIn">
          <ul class="nav">
            <li><a class="login mr-4">{{ username }}</a>
              <ul>
                <li><a class="login mr-4" [routerLink]="['profile']">Incidencias</a></li>
                <li><a class="login mr-4" [routerLink]="['contacto']">Contactos</a></li>
                <li class="login mr-4" *ngIf="showAdminBoard">
                  <a class="nav-link" [routerLink]="['admin/incidencias']">Seguimiento</a>
                <li class="login mr-4" *ngIf="showModeratorBoard">
                    <a class="nav-link" [routerLink]="['admin/asignacion']">Asignar</a>
              </li>
              </ul>
            </li>
        </ul>
          <a
            href
            class="btn btn-primary btn-theme btnRegistar"
            (click)="logout()"
            >Salir</a
          >
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Header -->
<!-- 

<div class="w3l-bootstrap-header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light p-2">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']">INCIDENCIAS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['incidencias']">Incidencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['estadisticas']">Estadística</a>
          </li>
        </ul>
        <div class="form-inline" *ngIf="!isLoggedIn">
          <a [routerLink]="['login']" class="login mr-4 btnLogin">Login</a>
          <a
            [routerLink]="['registro']"
            class="btn btn-primary btn-theme btnRegistar"
            >Crear Cuenta</a
          >
        </div>
        <div class="form-inline" *ngIf="isLoggedIn">
          <a class="login mr-4" [routerLink]="['profile']">{{ username }}</a>
          <a
            href
            class="btn btn-primary btn-theme btnRegistar"
            (click)="logout()"
            >Salir</a
          >
        </div>
      </div>
    </div>
  </nav>
</div>


<div id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div id="fh5co-logo">
                <a class="navbar-brand" [routerLink]="['home']">
                    <img src="../../../../assets/img/logo.jpg" alt="Work Logo">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['home']">Inicio</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['incidencias']">Incidencias</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['estadisticas']">Estadisticas</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf="showAdminBoard">
                        <a class="nav-link" [routerLink]="['admin']">Admin Board</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf="showModeratorBoard">
                        <a class="nav-link" [routerLink]="['mod']">Moderator Board</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="['profile']">User Board</a>
                    </li>
                </ul>
                <div class="botonesLogReg" *ngIf="!isLoggedIn">
                    <a class="btn-cta" [routerLink]="['login']">Login</a>
                    <a class="btn-cta" [routerLink]="['registro']">Join</a>
                </div>
                <div class="botonesLogReg" *ngIf="isLoggedIn">
                    <a class="btn-cta" [routerLink]="['profile']">{{username}}</a>
                    <a href class="btn-cta" (click)="logout()">LogOut</a>
                </div>
            </div>
        </nav>

    </div>

</div>

-->
