
.btnRegistar{

    border-radius: 10px;
    outline: none;
    border: none;
    /*background-image: linear-gradient(to right, #680197, #00ffbf,#c046f8);*/
    background-color: rgb(161, 32, 32);

    color: #fff;
}

.btnLogin{

    border-radius: 10px;
    outline: none;
    border: 2px;
    

    color: #fff;
}
